
#home {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:  'header header header'
                          'card1 card1 card1'
                          'none none card2';

    .text-heading { grid-area: header; }
    .main-card { grid-area: card1; }
    .sub-card { grid-area: card2; }
}

@include mediaQuery_830 {
    #home {
        grid-template-areas:  'header header header'
                              'card1 card1 card1'
                              'none card2 card2';
    }
}

@include mediaQuery_600 {
    #home {
        grid-template-areas:  'header header header'
                              'card1 card1 card1'
                              'card2 card2 card2';
    }
}